* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

/* HEADER CSS */
.meme__header,
.meme__footer {
  display: flex;
  height: 65px;
  background-color: purple;
  color: white;
  padding: 20px;
  width: 100vw;
  align-items: center;
  border: 1px solid purple;
  border-radius: 0px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}

.meme__header-title {
  font-size: 20px;
  margin-right: auto;
}

.meme__header-subtitle {
  font-size: 15px;
  font-weight: 500;
}

/* END HEADER CSS */

/* Meme BODY CSS */

.meme__container {
  margin: 44px 44px;
  padding: 2%;
}

.meme__input1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  width: 49%;
  margin-right: 15px;
  border-radius: 6px;
  height: 40px;
  border: 1px solid gray;
}

.meme__input2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  width: 50%;
  border-radius: 6px;
  height: 40px;
  border: 1px solid gray;
}

.meme__button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  width: 100%;
  height: 40px;
  color: white;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: large;
}

.meme {
  position: relative;
  width: 100%;
  margin: 20px auto auto auto;
}

.meme__image {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

/* POSITION THE MEME TEXT CSS */
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
/* END Meme BODY CSS */

/* Footer CSS */
.meme__footer {
  margin: auto 0;
  bottom: 0;
  width: 100%;
}

.meme__footer-title {
  margin: auto;
  font-weight: 200;
  font-size: 1rem;
}

.meme__footer-anchor {
  text-decoration: none;
  color: white;
}

.meme__footer-anchor:hover {
  font-weight: 700;
}

/* END Footer CSS */

@media (max-width: 400px) {
  .meme__input1,
  .meme__input2 {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 1800px) {
  .meme__input1,
  .meme__input2 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .meme__footer {
    position: absolute;
  }
}
