* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

/* HEADER CSS */
.meme__header {
  display: flex;
  height: 65px;
  background-color: purple;
  color: white;
  padding: 20px;
  width: 100vw;
  align-items: center;
  border: 1px solid purple;
    border-radius: 0px;
    box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
    -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
    -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.meme__header-title {
  font-size: 20px;
  margin-right: auto;
  
}

.meme__header-subtitle {
  font-size: 15px;
  font-weight: 500;
}

/* END HEADER CSS */

/* Meme BODY CSS */

.meme__container {
  margin: 44px 44px;
}

.meme__input1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  width: 49%;
  margin-right: 15px;
  border-radius: 6px;
  height: 40px;
  border: 1px solid gray;
}

.meme__input2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  width: 50%;
  border-radius: 6px;
  height: 40px;
  border: 1px solid gray;
}

.meme__button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  width: 100%;
  height: 40px;
  color: white;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: large;
}

.meme {
  position: relative;
}

.meme__image{
  max-width: 100%;
  border-radius: 3px;
}

/* POSITION THE MEME TEXT CSS */
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
/* END Meme BODY CSS */
